@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --background: #fff;
  --side-background: #f9f9f9;
  --top-background: #fff;
  --h1-color: rgb(3, 3, 3);
  --span-color: rgb(96, 96, 96);
  --hr-color: #e5e5e5;


  --video-color: black;
  --video-color-2: #606060;
  --user-color: black;
  --user-hover-background: #f0f0f0;
  --user-click-background: #c6c6c6;


  --header__search: hsl(0, 0%, 100%);
  --header__search_board: #ccc;
  --header__search_text: hsl(0, 0%, 6.7%);
  font-family: 'Roboto', sans-serif;
}


body.dark-theme {
  --background: #181818;
  --side-background: rgb(33, 33, 33);
  --top-background: rgba(32, 32, 32, 1);
  --h1-color: #FFFFFF;
  --span-color: #AAAAAA;
  --hr-color: #e5e5e5;

  --video-color: rgb(255, 255, 255);
  --video-color-2: #606060;
  --user-color: white;
  --header__search: hsl(0, 0%, 7%);
  --header__search_board: hsl(0, 0%, 18.82%);
  --header__search_text: hsla(0, 100%, 100%, 0.88);
  font-family: 'Roboto', sans-serif;
}


.text_over{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

/* �뿤�뜑 */

.material-icons {
  color: var(--span-color);
}

.header {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
  background-color: var(--top-background);
}



.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  width: 100px;
  margin-left: 15px;
}

.header i {
  padding: 0 7px;
  cursor: pointer;
}


.header__search form {
  border: 1px solid var(--header__search_board);
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__search input {
  width: 100%;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 100%;
  background-color: var(--header__search);
  color: var(searchbox-text-color);
}

.header__search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: var(--header__search_board);
}

/* usr 諛� */

.user {
  display: block;
  background: var(--background);
  width: 300px;
  position: absolute;
  right: 22px;
  top: 45px;
  width: 210px;
  height: 500px;
  box-sizing: border-box;
  max-width: 300px;
  max-height: 694px;
  border: 1px solid var(--video-color-2);
  border-top: none;
}

.userhidden {
  display: none;
}

.user-content {
  width: 100%;
  height: 10%;
  background-color: var(--background);
  text-align: center;
  line-height: 50px;
  color: var(--user-color);
}

.user-content:hover {
  background-color: var(--user-hover-background);
}

.user-content:active {
  background-color: var(--user-click-background)
}

.user>a {
  color: var(--user-color);
  text-decoration: none;
}

.user>a:link {
  color: var(--user-color);
  text-decoration: none;
}

.user>a:visited {
  color: var(--user-color);
  text-decoration: none;
}

.user>a:hover {
  color: var(--user-color);
  text-decoration: none;
}

.user>a:active {
  color: var(--user-color);
  text-decoration: none;
}

/* usr 諛� */

/* Sidebar */
.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: var(--background);
  overflow-y: scroll;
}

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
}

.sidebar__category:hover {
  background: var(--hr-color);
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

hr {
  height: 1px;
  background-color: var(--hr-color);
  border: none;
}

/* 鍮꾨뵒�삤 */

.videos {
  background-color: var(--side-background);
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid var(--header__search);
  overflow-y: scroll;
}

.videos__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.video {
  width: 310px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.video:hover {
  cursor: pointer;
}


.video__thumbnail {
  width: 100%;
  height: 170px;
}

.video__thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: var(--h1-color);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: var(--span-color);
  font-size: 14px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--h1-color)
}


/* 鍮꾨뵒�삤 寃��깋 */

/* 鍮꾨뵒�삤 */

.search {
  background-color: var(--side-background);
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid var(--header__search);
  overflow-y: scroll;
}

.search__container {
  padding: 16px;
  margin: 50px auto;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
}

.serch__video {
  display: flex;
  width: 100%;
  margin-top: 16px;
}


.serch__video:hover {
  cursor: pointer;
}

.search__video__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.search__video__info {
  margin-bottom: 8px;
  color: var(--video-color-2);
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.channal__info {
  padding: 12px 0 12px 0;
}

.channal__info img {
  object-fit: cover;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}








.channal__info__text {
  vertical-align: 6px;
}

.channal__info__text:link {
  color: var(--video-color-2);
  text-decoration: none;
}

.channal__info__text:visited {
  color: var(--video-color-2);
  text-decoration: none;
}

.channal__info__text:hover {
  color: var(--video-color-2);
  text-decoration: none;
}

.search__video__title {
  color: var(--video-color);
}

.channal__info__title:link {
  color: var(--video-color);
  text-decoration: none;
}

.channal__info__title:visited {
  color: var(--video-color);
  text-decoration: none;
}

.channal__info__title:hover {
  color: var(--video-color);
  text-decoration: none;
}










/* 濡쒓렇�씤 */
.outBox {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #999;
  border-radius: 6px;
  height: auto;
}

.outBox .inputBox {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
}

.outBox .inputBox input[type="text"] {
  padding: 0 10px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #999;
  outline: none;
}
.outBox .inputBox input[type="password"] {
  padding: 0 10px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #999;
  outline: none;
}



.outBox .inputBox label {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 6px;
  color: #999;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  transform: translate(4px, -18px);
}

.outBox .inputBox label {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 6px;
  color: #999;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  transform: translate(4px, -18px);
}

.outBox .inputBox input[type="text"]:focus {
  border: 2px solid rgb(0, 0, 0);
}

.outBox .inputBox input[type="text"]+label {
  color: rgb(0, 0, 0);
  font-size: 12px;
  transform: translate(-10px, -48px);
}

.outBox .inputBox input[type="password"]:focus {
  border: 2px solid rgb(0, 0, 0);
}

.outBox .inputBox input[type="password"]+label {
  color: rgb(0, 0, 0);
  font-size: 12px;
  transform: translate(-10px, -48px);
}

.outBox .inputBox label {
  transition: all .2s;
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 6px;
  color: #999;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  transform: translate(4px, -18px);
}

.btn-group {
  margin-top: 50%;
}

.join-btn {
  float: left;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  transform: translateY(-50%);
  text-align: center;
  line-height: 30px;
  color: #1a73e8;
}

.join-btn:link {
  color: #1a73e8;
  text-decoration: none;
}

.join-btn:visited {
  color: #1a73e8;
  text-decoration: none;
}

.join-btn:hover {
  color: #1a73e8;
  text-decoration: none;
}

.login-btn {
  float: right;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #1a73e8;
  transform: translateY(-50%);
  text-align: center;
  line-height: 30px;
  color: white;
}

.login-btn:link {
  color: white;
  text-decoration: none;
}

.login-btn:visited {
  color: white;
  text-decoration: none;
}

.login-btn:hover {
  color: white;
  text-decoration: none;
}

/* 濡쒓렇�씤 */

@media (max-width: 3000px) {
  .header__search {
    width: 600px;
  }

  .search__video__image {
    cursor: pointer;
    margin-right: 16px;
    width: 360;
    height: 200px;
  }

}

@media (max-width: 1920px) {
  .header__search {
    width: 600px;
  }

  .search__video__image {
    cursor: pointer;
    margin-right: 16px;
    width: 320px;
    height: 190px;
  }
}

@media (max-width: 1300px) {
  .search__video__image {
    cursor: pointer;
    margin-right: 16px;
    width: 280px;
    height: 180px;
  }
}

@media (max-width: 989px) {
  .header__search {
    width: 400px;
  }


  .search__video__image {
    cursor: pointer;
    margin-right: 16px;
    width: 240px;
    height: 170px;
  }
}


@media (max-width: 669px) {
  .header__search {
    /* display: none; */
    width: 200px;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    height: auto;
  }

  .search__video__image {
    cursor: pointer;
    margin-right: 16px;
    width: 200px;
    height: 160px;
  }

}

/* �궗�슜�븞�븿 */
@media (max-width: 425px) { 
  .header__search {
    width: 200px;
  }

  .header__icons .material-icons {
    display: none;
  }

  .header__icons .display-this {
    display: inline;
  }

  .sidebar {
    display: none;
  }

  .search__video__image {
    cursor: pointer;
    margin-right: 16px;
    width: 160px;
    height: 150px;
  }
}