/* PC */
@media all and (min-width:1024px) {
    :root {
        --app-drawer-width: 240px;
        --guide-width: 72px;
        --ytd-rich-grid-items-per-row: 4;
        --ytd-rich-grid-posts-per-row: 3;
        --ytd-rich-grid-slim-items-per-row: 6;
        --ytd-rich-grid-game-cards-per-row: 6;

        --mainpage-margintop : 56px;
        --mainpage-marginleft : 72px;
    }
    
    *{
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    }
}

/* 태블릿 */
@media all and (min-width:768px) and (max-width:1023px) {
    :root {
        --app-drawer-width: 240px;
        --guide-width: 72px;
    }
}

/* 모바일 */
@media all and (max-width:767px) { 
    :root {
        --app-drawer-width: 240px;
        --guide-width: 72px;
    }
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}






.container{
    position: fixed;
    display: flex;
    top: 0px;
    height: 56px;
    width: 100%;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
    z-index: 100;
    flex-direction: row;
    background: #000;
}

.container2{
    display: flex;
    background: #f9f9f9;
}

.guide{
    position: relative;
    width: 10%;
    height: 100%;
    background: #db7474;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
}

.grid{
    width: 90%;
    height: 100%;
    background: #fcd3d3;
    overflow-y: auto;
    overflow-x: hidden;
}